::-webkit-scrollbar{
    display: none;
}
.w-max {
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .md\\:w-screen {
    width: 100%;
  }
  
  .overflow-y-scroll {
    overflow-y: auto;
  }

  
  @media (min-width: 640px) {
    .w-max {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .w-max {
      width: 100%;
    }
  }
  
  @media (min-width: 1024px) {
    .w-max {
      max-width: 1200px;
    }
  }