/* General styles for the homepage container */
.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(front-page.png);
    background-size: cover;
    background-repeat: no repeat;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 60px;
  }
  
  /* Styles for the navigation bar */
  .navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  /* Container for the navigation list and login button */
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  /* Styles for the navigation list */
  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 60px; /* Space between the nav items and the login button */
    gap: 20px;
  }
  
  /* Styles for each navigation item */
  .nav-item {
    margin-left: 15px;
    color: #f0f0f0;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .nav-item:first-child {
    margin-left: 0;
  }
  
  .nav-item:hover {
    color: #cce7ff;
  }
  
  /* Styles for the login button in the navigation bar */
  .login-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #f0f0f0;
    background-color: #0056b3;
    border: none;
    width: 130px;
    border-radius: 5px;
    margin-right: 130px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #cce7ff;
    color: #0056b3;
  }

  .content-login-button {
    margin-top: -15px;
    margin-left: 130px;
  }
  
  /* Styles for the content below the navigation bar */
  .content {
    margin-top: -195px;
  }
  
  /* Styles for the heading */
  .homepage-heading {
    font-size: 20px;
    color: lightblue;
    margin-bottom: 60px;
  }
  
  /* Styles for the tagline */
  .homepage-tagline {
    font-size: 30px;
    color: white;
    margin-top: -45px;
    margin-bottom: 50px;
  }
  