/* General body and container styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .platform-benefits-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .platform-benefits-title {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
  }
  
  /* Grid layout styling */
  .platform-benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    position: relative;
  }
  
  /* Individual benefit item styling */
  .benefit-item {
    padding: 10px;
    background-color: #ecf5fd;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    max-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /* Positioning for individual benefit items */
  .benefit-item-1 {
    position: relative;
    left: 80px;
    top: 0;
    justify-content: flex-end;
  }
  
  .benefit-item-2 {
    position: relative;
    left: 140px;
    top: 50px;
    justify-content: flex-end;
  }
  
  .benefit-item-3 {
    position: relative;
    left: 83px;
    top: 30px;
    justify-content: flex-end;
  }
  
  .benefit-item-4 {
    position: relative;
    left: 140px;
    top: 100px;
    justify-content: flex-end;
  }
  
  .benefit-item-5 {
    position: relative;
    left: 90px;
    top: 40px;
    justify-content: flex-end;
  }
  
  .benefit-item-6 {
    position: relative;
    left: 150px;
    top:  50px;
    /* margin-bottom: ; */
    justify-content: flex-end;
  }
  
  /* Icon styling */
  .benefit-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .benefit-item p {
    font-size: 28px;
    line-height: 1.2;
    align-items:flex-start;
    margin-left: 0;
    margin-bottom: 0;
    color: #34495e;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .platform-benefits-grid {
      grid-template-columns: 1fr;
    }
  }
  